body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  padding: 8px;
  width: 13rem;
  border-radius: 8px;
}

h1 {
  font-size: 1.2rem;
  margin-top: 0px;
}

.btn {
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 8px 12px;
  color: #fff;
  transition: .2s;
  cursor: pointer;
}

#btnStart {
  background: #2364a9;
}

#btnStart:hover {
  background: #1d4d81;
}

#btnCancel {
  background: #cd571c;
}

#btnCancel:hover {
  background: #a0471a;
}

.data {
  padding-bottom: 8px;
  font-size: .8rem;
  color: #666;
}

.data > label {
  font-weight: bold;
}