body {
  width: 20rem;
}

.btn {
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px 15px;
  color: #fff;
  transition: .2s;
  cursor: pointer;
}

#btnStart {
  background: #2364a9;
}

#btnStart:hover {
  background: #1d4d81;
}

#btnCancel {
  background: #cd571c;
}

#btnCancel:hover {
  background: #a0471a;
}

.data {
  padding-bottom: 10px;
  font-size: 1rem;
}

.data > label {
  font-weight: bold;
}