body {
  width: 20rem;
}

#btnPicker {
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px 15px;
  background: #2364a9;
  color: #fff;
  transition: .2s;
  cursor: pointer;
}

#btnPicker:hover {
  background: #17537b;
}

.data {
  padding-bottom: 10px;
  font-size: 1rem;
}

.data > label {
  font-weight: bold;
}